$gold-200: #c2b697;
$gold-300: #a3947f;
$gold-500: #d6a73a;
$blue-200: #f8f8f8;
$blue-300: #9eadbd;
$blue-400: #4e6c87;
$blue-500: #2c4761;
$black-400: #797f85;
$blue-dark: #112b47;

$mainColor: #00b7ce;
$mainColorDark: #057b8b;
$secondColor: #21409a;

$white: #fff;
$blackbg: #232629;

$transTime: 0.2s;

$small: 552px;
